.HomePage{
    min-height: calc(100vh - 6rem);
    background: rgb(0, 0, 0);
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.presentationCard{
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.presentationCardTxtContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #fff;
    width: 36rem;

}

.presentationCardTxtContainer h1, .presentationCardTxtContainer p{
    padding-bottom: 1rem;
}

.presentationCardTxtContainer h1{
    font-size: 2.6rem;
}

.presentationCardTxtContainer p{
    text-align: center;
    font-size: 1.2rem;
}

.socialContact{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 16rem;
}

.socialContact-icon img{
    height: calc( 2.2rem + 4px);
    border-radius: 8px;
}

.socialContact-contactBtn {
    text-decoration: none;
}

.socialContact-contactBtn p{

    background: -webkit-linear-gradient(left bottom,#9796f0, #fbc7d4);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    border: 2px solid;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: 8px;
}


.socialContact-contactBtn p:hover, .socialContact-icon img:hover {
    transform: scale(1.1);
    transition: 250ms;
}